footer{
    background-color: #ccc;
    clear: both;    
    background-color: #ff81ea21;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
}

footer p{
    color: #3f1016bd;
    font-weight:500;
}

