.holder-head{
    margin: 10px;
    display: inline-flex;
}

header{
    /* background-color: #f878e31c; */
    padding: 5px 5px;
}

header h1{
    font-family: 'Berkshire Swash';
    /* color: #3f1016; */
    /* color: #8b1424e5; */
    font-size: 35px;
    font-weight: 400;
    /* font-style: bold; */
    padding: 15px 50px 0px;
    display: inline-block;
}

.logo{
    width: 120px;
    position: absolute;
    border-radius: 50%;
    margin: 10px;
}