nav{
    /* background-color: #f552da38; */
    margin: 5em 20em 20px;
}

nav ul{
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: #270d11;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    padding: 3px 6px;
    display: block;
    text-align: center;
    transition: all .4s linear;    
    border-radius: 15px;
}

nav ul li a:hover{
    /* background-color: #f848db59; */
    border-radius: 15px;
    color: #ca6c79e7;
}

nav ul li a.activo{
    /* background-color: #f848db98; */
    color: #ca6c79e7;
}

