.bienvenidos{
    /* font-family: 'Berkshire Swash'; */
    color: #4b131ae5;
    box-sizing: border-box;
    text-align: center;
}

.bienvenidos h1{
    margin: 60px 0 50px;
    font-family: 'Dancing Script';
    font-size: 70px;
}

.imagen-portada {
    display: flex;
    justify-content: center;
}

.imagen-portada img {
    margin: 5px;
    width: 550px;
    border-radius: 4px;
}

.bienvenidos h2{
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Dancing Script';
    font-size: 50px;
}

.bienvenidos h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4b131ab6;
    font-size: 25px;
}

/* 
.columnas{
    display: flex;
    justify-content: space-between;
    gap: 20px;
} 

.testimonios{
    width: 25%;
}

.testimonio{
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    background-color: yellow;
    display: block;
}

.testimonio .autor{
    font-size: 10px;
    text-align: center;
    background-color: lightcoral;
    display: block;
    margin: 12px 0;
} */
